/* @tailwind base;
@tailwind components;
@tailwind utilities; */
*{
  padding:0;
  margin:0,
}

nav{
  /* background-color: burlywood; */
  /* display:inline-block; */
  margin-left: 10px;

}
body{
  /* display: inline-block;
  width: 100px;
  height: 100vh; */
  background-color:bisque
}
h1{
  margin-left: 480px;
  text-decoration:underline;
  font-size: 30px;
  text-decoration-color:black;
  -webkit-text-fill-color: black;
}
button{
  width: 100px;
  height: 5vh;
  border-color: black;
  border-radius: 50px;
  background-color: whitesmoke;
}
